body{
    background-color: black !important;
    font-family: 'Raleway', sans-serif;
   
}
.carousel-item{
    height: 20%;
    min-height: 300px;
    background: no-repeat center center center;
    background-size: cover;
}

h6{
    text-align: center;
}

li{
    list-style: none;
    text-align: center;

}


img{
    width: 100%;
    height: 35%;
}

.iconos a {
 color: #ffffff;
}

h5{
    text-align: center;
}

.logo {
    width: 9%;
}
